{% extends "parent/base_template.html" %}
{% load blog_tags %}
{% block title %} Post List{% endblock %}
{% block content%}

    <h1 class="posts-title">Posts</h1>
    <p class="prolific_users_p">Prolific Users</p>

    <div class="prolific_users">
    {% prolific_users as p_users %}
    {% for user in p_users %}
        <a class="p_user">{{ user.username }} with {{ user.p_users }} post{{user.p_users|pluralize}}</a>
    {% endfor %}
    </div>

    <div class="buttons">
    {% if username %}
        <a href="{% url 'blog:add_post' id %}" class="add-post">Add Post</a>
        <a href="{% url 'blog:profile' id %}" class="username">{{ username }}</a>
        <a href="{% url 'blog:post_list' %}" class="logout">Logout</a>
    {% else %}
        <a href="{% url 'blog:login' %}" class="login">login</a>
    {% endif %}
    </div>

    <div class="posts">
    {% for post in posts %}
        <div class="post">
            <a href="{% url 'blog:post_detail' post.id%}" class="title_in_list"><b>{{ post.title }}</b></a>
            <p class="text">{{ post.description|truncatewords:4}}</p>
{#            <img src="{{ post.images.first.image.url }}" alt="{{ post.images.first.title }}">#}
        </div>
    {% empty %}
        <p class="no-post">no post founded!</p>
    {% endfor %}
    </div>
{% endblock %}